<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="#">Transport</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="signin">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
