<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contactez-nous</h4>
        <ul>
          <li><i class="fa fa-map-marker"></i> 123 rue du Transport, 75000 Paris</li>
          <li><i class="fa fa-phone"></i> +33 (0)1 23 45 67 89</li>
          <li><i class="fa fa-envelope"></i> info@transportcolis.com</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Liens utiles</h4>
        <ul>
          <li><a href="#">À propos de nous</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Tarifs</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Suivez-nous</h4>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>