<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">User management</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div style="text-align:center;">
    
    <form class="row g-3" [formGroup]="inputform" style="margin: 0 auto;">
      <div class="col-md-6">
          <label for="wieght" class="form-label">wieght</label>
          <input type="text" class="form-control" id="inputwieght" formControlName="inputwieght"  >
          <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputwieght'].errors?.['required']">
            wieght is required!
            </div>
      </div>
        <div class="col-md-6">
          <label for="type" class="form-label">Type of collie</label>
          <input type="text" class="form-control" id="inputtype" formControlName="inputtype">
          <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputtype'].errors?.['required']">
              type is required
            </div>
      </div>
      <div class="col-md-6">
        <label for="size" class="form-label">Size</label>
        <input type="text" class="form-control" id="inputSize" formControlName="inputSize">
        <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputSize'].errors?.['required'] ">
          size is required!
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputDate" class="form-label">Date</label>
        <input type="text" class="form-control" id="inputDate" formControlName="inputDate">
        <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputDate'].errors?.['required']">
          please enter the Date! </div>
      </div>
      <div class="col-md-6">
          <label for="inputCity" class="form-label">Confirm city</label>
          <input type="text" class="form-control" id="inputCity" formControlName="inputCity">
          <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputCity'].errors?.['required']">
              please Confirm your city!
          </div>  
      </div>
        <div class="col-md-6">
          <label for="price" class="form-label">price</label>
          <input type="text" class="form-control" id="inputPrice" formControlName="inputPrice">
          <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputPrice'].errors?.['required']">
              price is required!
          </div>  
      </div>
   
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" id="cancel"  data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" (click)="updateCollie()">Save changes</button>
</div>
</div>
</div>