<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Colis management</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div style="text-align:center;">
    <form class="row g-3" [formGroup]="inputform" style="margin: 0 auto;">
      <div class="col-md-6">
          <label for="wieght" class="form-label">adresseExpedition</label>
          <input type="text" class="form-control" id="inputadresseExpedition" formControlName="inputadresseExpedition"  >
          <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputadresseExpedition'].errors?.['required']">
            l'adresse d'éxpedition est un champs obliagatoire
            </div>
      </div>
        <div class="col-md-6">
          <label for="type" class="form-label">adresseLivraison</label>
          <input type="text" class="form-control" id="inputadresseLivraison" formControlName="inputadresseLivraison">
          <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputadresseLivraison'].errors?.['required']">
            l'adresse de livraison est un champs obligatoire
            </div>
      </div>
      <div class="col-md-6">
        <label for="size" class="form-label">taille</label>
        <input type="text" class="form-control" id="inputtaille" formControlName="inputtaille">
        <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputtaille'].errors?.['required'] ">
          la taille est un champs obligatoire
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputDate" class="form-label">Date</label>
        <input type="text" class="form-control" id="inputDate" formControlName="inputDate">
        <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputDate'].errors?.['required']">
          la date est un champs obligatoire </div>
      </div>
      <div class="col-md-6">
          <label for="inputCity" class="form-label">Poid</label>
          <input type="text" class="form-control" id="inputPoid" formControlName="inputPoid">
          <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputPoid'].errors?.['required']">
          le Poid est un champs obligatoire
          </div>  
      </div>
        <div class="col-md-6">
          <label for="price" class="form-label">numberProduct</label>
          <input type="text" class="form-control" id="inputnumberProduct" formControlName="inputnumberProduct">
          <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputnumberProduct'].errors?.['required']">
            nombre de produit est un champs obligatoire
          </div>  
      </div>
   
    <div class="col-md-6">
      <label for="price" class="form-label">remarques</label>
      <input type="text" class="form-control" id="inputremarques" formControlName="inputremarques"> 
  </div>
<div class="modal-footer">
  <button type="button" id="cancel"  data-bs-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" (click)="updateCollie()">Save changes</button>
</div>

