<div class="container-fluid">
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="col-sm-10 col-md-8 col-lg-6">
  <form class="bg-light p-5 rounded-3" (ngSubmit)="loginUser()"  #inputform="ngForm" style="max-width: 500px; ">
  
    <h2 class="text-center mb-5" style="color: #007bff;">Sign in here !</h2>
    <div class="mb-3">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input type="text" class="form-control form-control-lg" id="staticEmail2" placeholder="Email" name="inputemail" [(ngModel)]="client.email">
      
      
    </div>
    <div  class="mb-3">
      <label for="inputPassword2" class="visually-hidden">Password</label>
      <input type="password" class="form-control form-control-lg" id="inputPassword2" placeholder="Password" name="inputpassword" [(ngModel)]="client.password">
     
    </div>
    <div class="mb-3">
      <label><input type="checkbox" name="remembre ">remembre me</label>
    </div>
    <div  class="mb-3">
      <button type="submit"  class="btn btn-primary btn-lg mb-3">Sign in</button>
    </div>
    <small class="text-danger">{{msg}}</small>
  </form>
</div>
</div>
</div>