<div class="row align-items-stretch">
  <div class="col-md-6 no-margin">
    <img src="./assets/images/delivry.jpg" alt="Image" class="image">
  </div>
  <div class="col-md-6">
    <div class="card full-height">
      <div class="text-center">
        <h2>Sign in</h2>
      </div>
      <form>
        <div class="mb-3">
          <label for="staticEmail2" class="visually-hidden">Email</label>
          <input type="text" class="form-control form-control-lg" id="staticEmail2" placeholder="Email" name="inputemail" [(ngModel)]="client.email">
        </div>
        <div class="mb-3">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input type="password" class="form-control form-control-lg" id="inputPassword2" placeholder="Password" name="inputpassword" [(ngModel)]="client.password">
        </div>
        <div class="mb-3">
          <label><input type="checkbox" name="remember">Remember me</label>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary btn-lg mb-3" (click)="loginUser()">Sign in</button>
        </div>
        <small class="text-danger">{{msg}}</small>
      </form>
    </div>
  </div>
</div>
