<nav class="hidden-xs-down bg-faded sidebar">
    <header class="welcome-section">
        <div class="container">
            <div class="logo">
                <img src="./assets/images/images.png" alt="[nom de votre entreprise]">
              </div>
          <h1>Welcome</h1>
        </div>
      </header>
      <mat-divider></mat-divider>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page"   routerLinkActive="list-item-active" routerLink="/client/addcollie">
          <i class="fas fa-home"></i>  Accueil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/client/listcommandclient">
          <i class="fas fa-shopping-cart"></i> Visualiser vos commandes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/client/maptracking">
          <i class="fas fa-truck"></i> Suivre votre commande
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/client/updateprofile">
          <i class="fas fa-user" ></i> Modifier votre compte
        </a>
      </li>
    </ul>
  </nav>
  