<!-- Toolbar -->
<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark color">
  <a class="navbar-brand">Transport company</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="logout-button ml-2" (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>

<!-- Liste des colis affectés -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="mt-5">
        <h2>Liste des colis affectés à vous</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID Commande</th>
              <th scope="col">Adresse d'expédition</th>
              <th scope="col">Adresse de livraison</th>
              <th scope="col">Poids</th>
              <th scope="col">Date</th>
              <th scope="col">Taille</th>
              <th scope="col">Nombre de produits</th>
              <th scope="col">Nom du client</th>
              <th scope="col">Numéro de téléphone</th>
              <th scope="col">Accepter de livrer</th>
              <th scope="col">Refuser de livrer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cm of tabCollis | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
              <td>{{ cm.idCmd }}</td>
              <td>{{ cm.adresseExpedition }}</td>
              <td>{{ cm.adresseLivraison }}</td>
              <td>{{ cm.poid }}</td>
              <td>{{ cm.date }}</td>
              <td>{{ cm.taille }}</td>
              <td>{{ cm.numberProduct }}</td>
              <td>{{ cm.client.firstName }}</td>
              <td>{{ cm.client.phone }}</td>
              <td>
                <button class="btn btn-success" (click)="accepterCommande(cm)">Accepter</button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="refuserCommande(cm)">Refuser</button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- Liste des colis acceptés -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="mt-5">
        <h2>Liste des colis acceptés</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID Commande</th>
              <th scope="col">Adresse d'expédition</th>
              <th scope="col">Adresse de livraison</th>
              <th scope="col">Poids</th>
              <th scope="col">Date</th>
              <th scope="col">Taille</th>
              <th scope="col">Nombre de produits</th>
              <th scope="col">Nom du client</th>
              <th scope="col">Numéro de téléphone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cm of tabCommandAcceptees">
              <td>{{ cm.idCmd }}</td>
              <td>{{ cm.adresseExpedition }}</td>
              <td>{{ cm.adresseLivraison }}</td>
              <td>{{ cm.poid }}</td>
              <td>{{ cm.date }}</td>
              <td>{{ cm.taille }}</td>
              <td>{{ cm.numberProduct }}</td>
              <td>{{ cm.client.firstName }}</td>
              <td>{{ cm.client.phone }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
