<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">list of products</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
          <h2 style="margin-top: 50px;">List of your products</h2>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">is_fragil</th>
                  <th scope="col">name</th>
                  <th scope="col">quantity</th>
                  <th scope="col">type</th>
                  <th scope="col">taille</th>
                 
                </tr>
              </thead>
              <tbody>
                <!--si on a des contenus de different type dans le tableau on peut utiliser l'objet user a la place de mot "name" par exemple 
                et acceder a ces attribut par user.name ou user.phone -->
              <tr >
                <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
              </tr>
            
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" >Save changes</button>
    </div>
    </div>
    </div>