
.container-fluid{
    padding-left:0;
}
.collapse navbar-collapse{
    color:black;
}
.navbar-collapse.show {
    display: block !important;
  }
  
  .navbar-toggler.active {
    background-color: #ddd;
  }
  .notification-panel {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .full-width {
    width: 100%;
  }
  
  .color {
    background-color: #007bff;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .notification-button {
    margin-left: auto;
  }
  
  