<div class=" container-fluid">
  <mat-toolbar class="color" color="primary" >
   
  <nav class="navbar navbar-expand-lg navbar-dark color">
    <a class="navbar-brand" >Dashbord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <button class="logout-button" (click)="logout()" >
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </ul>
    </div>
  </nav>
  </mat-toolbar>
    <!-- Content Row -->
    <app-card></app-card>
   <app-chart></app-chart>
    </div>