<div>
    <h2>statistics of your company</h2>
</div>
<div>
    <app-widget-area></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Clients" total="20" percentage="50%"></app-widget-card>
        <h3 text-align="center">percentage of clients </h3>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="transporteurs" total="10" percentage="25%"></app-widget-card>
        <h3 text-align="center">percentage of transporters </h3>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card  label="Collies" total="10" percentage="25%"></app-widget-card>
        <h3 text-align="center">percentage of Collies </h3>
    </mat-card>
    
</div>