:host {
  display: flex;
  height: 100%;
}

.body {
  flex: 1;
  display: flex;
  align-items: stretch;
  margin-left: 0;
}

.col-lg-2 {
  padding: 0;
}

.col-lg-10 {
  padding: 0;
}

mat-drawer {
  width: 260px;
  background: #0f172a;
}

mat-drawer-container {
  height: 100%;
  margin-left: 0;
}

mat-drawer-content {
  margin-left: 0;
  padding: 0;
}
