<div class="row">
  <div class="col-md-6 no-margin">
    <img src="./assets/images/delivry.jpg" alt="Image" class="image">
  </div>
  <div class="col-md-6">
    <div class="card full-height d-flex flex-column">
      <div class="text-center">   
        <h2>Sign up</h2>
      </div>
      <div style="text-align: center;">
        <p>S'inscrire en tant que :</p>
        <a (click)="selectedType = 'client'" routerLink="signup">Client</a> |
        <a (click)="selectedType = 'transporteur'" routerLink="signup">Transporteur</a>
      </div>
      <form [formGroup]="inputform">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="Firstname" class="form-label">Firstname</label>
              <input type="text" class="form-control" id="inputFirstname" name="inputFirstname" formControlName="inputFirstname">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputFirstname'].errors?.['required']">
                Firstname is required!
              </div>
            </div>
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword4" name="inputPassword" formControlName="inputPassword">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputPassword'].errors?.['required']">
                Please enter your password!
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="inputform.controls['inputPassword'].errors?.['minlength']">
                Password must be at least 6 characters long.
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="inputform.controls['inputPassword'].errors?.['pattern']">
                Password must contain at least one letter and one number.
              </div>
            </div>
           
            <div class="alert alert-danger" role="alert" *ngIf="inputform.controls['inputPassword'].errors?.['pattern']">
              Password must contain at least one letter and one number.
            </div>
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4" name="inputEmail" formControlName="inputEmail">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputEmail'].errors?.['required']">
                Email is required!
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputEmail'].errors?.['email']">
                Please enter a valid email address!
              </div>
            </div>
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="inputAddress">
            </div>
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity" formControlName="inputCity">
            </div>
            <div class="mb-3" *ngIf="selectedType === 'transporteur'">
              <label for="inputCity" class="form-label">numero d'immatriculation</label>
              <input type="text" class="form-control" id="inputimmatriculation" formControlName="inputNImmatriculation">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputNImmatriculation'].errors?.['required']">
                ce champs est obligatoire
              </div>
            </div>
            <div class="mb-3" *ngIf="selectedType === 'transporteur'">
              <label for="inputCity" class="form-label">vehicleType</label>
              <input type="text" class="form-control" id="inputvehicleType" formControlName="inputVihiculetype">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputVihiculetype'].errors?.['required']">
                ce champs est obligatoire
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="Lastname" class="form-label">Lastname</label>
              <input type="text" class="form-control" id="inputLastName" formControlName="inputLastName">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputLastName'].errors?.['required']">
                Lastname is required
              </div>
            </div>
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="inputPassword5" class="form-label">Confirm password</label>
              <input type="password" class="form-control" name="inputPassword2" id="inputPassword5" formControlName="inputPassword2">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputPassword2'].errors?.['required']">
                Please confirm your password!
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="inputform.controls['inputPassword2'].errors?.['Mustmatch']">
                Password and confirm password do not match.
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputPassword'].errors?.['required']">
              Please enter your password!
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="inputform.controls['inputPassword'].errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="Username" class="form-label">Username</label>
              <input type="text" class="form-control" id="inputUsername" formControlName="inputUsername">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputUsername'].errors?.['required']">
                Username is required!
              </div>
            </div>
            <div class="mb-3" *ngIf="selectedType === 'client' || selectedType === 'transporteur'">
              <label for="phone" class="form-label">Phone number</label>
              <input type="text" id="phone" name="inputphone" class="form-control" formControlName="inputphone">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputphone'].errors?.['required']">
                ce champs est obligatoire
              </div>
            </div>
            <div class="mb-3" *ngIf="selectedType === 'transporteur'">
              <label for="inputCity" class="form-label">cin</label>
              <input type="text" class="form-control" id="inputcin" formControlName="inputCin">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputCin'].errors?.['required']">
                ce champs est obligatoire
              </div>
            </div>
            <div class="mb-3" *ngIf="selectedType === 'transporteur'">
              <label for="inputCity" class="form-label">licenseNumber</label>
              <input type="text" class="form-control" id="inputlicenseNumber" formControlName="inputLicenceNumber">
              <div class="alert alert-danger" role="alert" *ngIf="!inputform.pristine && inputform.controls['inputLicenceNumber'].errors?.['required']">
                ce champs est obligatoire
              </div>
            </div>
          </div>
            <div *ngIf="selectedType === 'client'" style="display:flex; justify-content:flex-end;">
              <button type="submit" class="btn btn-primary" (click)="addclient()">Sign Up</button>
            </div>
            <div *ngIf="selectedType === 'transporteur'" style="display:flex; justify-content:flex-end;">
              <button type="submit" class="btn btn-primary" (click)="addTransporteur()">Sign Up</button>
            </div>
            <div class="col-md-6">
              <p style="margin-top: 8px;">You already have an account <a href="signin">Sign In</a></p>
            </div>
          
       
      </div>
    
 
