<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
  <h2 style="margin-top: 50px;">List of your collies</h2>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">id_command</th>
          <th scope="col">adresse d'expédition</th>
          <th scope="col">adresse de livraison</th>
          <th scope="col">poid</th>
          <th scope="col">date</th>
          <th scope="col">taille</th>
          <th scope="col">nombre des produits</th>
              
        </tr>
      </thead>
      <tbody>
        <!--si on a des contenus de different type dans le tableau on peut utiliser l'objet user a la place de mot "name" par exemple 
        et acceder a ces attribut par user.name ou user.phone -->
      <tr *ngFor="let cm of tabCollis " >
        <th scope="row">{{cm.idCmd}}</th>
            <td>{{cm.adresseExpedition}}</td>
            <td>{{cm.adresseLivraison}}</td>
            <td>{{cm.poid}}</td>
            <td>{{cm.date}}</td>
            <td>{{cm.taille}}</td>
            <td>{{cm.numberProduct}}</td>
      </tr>
    
    </tbody>
</table>
</div>
